*{
    padding: 0;
    margin:0;
    
}
footer{
     font-family: Arial, sans-serif;
    font-size: 2.5vw;
    background-color: #252626;
    color: white;
    height: 100vh;
}
#footer_section{
    display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     margin:0px 3vw;
}
.common_container{
    margin: 2vh 2vw;
    display: flex;
    flex-direction: column;
}
#About{
    grid-column-start: 1;
}
.heading{
    position: relative;
  padding-bottom: 3vh;
    
}
.heading::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60px; /* Width of the red line */
  height: 3px; /* Thickness of the line */
  background-color: #ff4500; /* Red/Orange color */
  z-index: 2;
}

/* Optional: The dark grey full-width line underneath */
.heading::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; /* Full width line */
  height: 1px; /* Very thin line */
  background-color: #444444; /* Dark grey color */
  z-index: 1;
}
.paragraph{
    line-height: 2;
}
#shortcut{
    grid-column-start: 2;
}

.social_container a{
    margin-right:0.3vw;
    
}
.social_icon{
  font-size:6.5vw !important; 
}
.link{
    text-decoration: none;
    color: white;
   gap: 0.8vw;
   line-height: 2;
}

.text{
    margin-top: 1vh;
}


#shortcut{
    grid-column-start: 2;
}
#contact_container{
    grid-column-start: 3;
}


.common{
    margin-top: 2vh;
}
.social_container{
   margin-top: 1vh;
font-size: 3vw;
}
.contact{
    color: white;
    text-decoration: none;
    line-height: 2;
}
.social_link{
 margin-right: 2vw;
 height: 2vh;
}

@media (min-width:700px){
    footer{
        font-size: 2.5vmin;
    }
    .social_container{
   margin-top: 2vh;
font-size: 4vmin;
}
.contact{
    margin: 1.3vmin 0px;
}
.social_link{
 margin-right: 2vmin;
}
.text{
    margin-top: 3vh;
}
.social_link{
font-size: 4vmin;
}
.social_icon {
  font-size:6.5vmin !important; 
}

}